{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Homepage</title>
    <link rel="icon" type="image/png" sizes="63x53" href={% static '/assets/img/ng.png' %}>
    <!-- {% static 'css/bootstrap.min.css' %}
    "" -->
    <link rel="stylesheet" href={% static '/assets/bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href={% static '/assets/fonts/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static '/assets/fonts/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static '/assets/fonts/line-awesome.min.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Data-Table-1.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Data-Table.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Footer-Basic.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Header-Blue.css' %}>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css">
    <link rel="stylesheet" href={% static '/assets/css/Landing-Section-with-Call-to-Action-BS4.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Login-Form-Dark.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/Navigation-Clean.css' %}>
    <link rel="stylesheet" href={% static '/assets/css/styles.css' %}>
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><img id="logo" src={% static '/assets/img/ng.png' %}><a class="navbar-brand" href="#">अन्नपुर्ण गाउँपालिका</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">गृहपेज</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:8000/map/">नक्सा</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">सम्पर्क</a></li>
                        </ul><span class="navbar-text ml-auto"> <a class="login" href="login.html">लग इन</a></span><a class="btn btn-light action-button" role="button" href="#">साइन अप</a></div>
        </div>
        </nav>
        <div class="container hero">
            <div class="row pulse animated">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 data-bs-hover-animate="pulse">तपाँइलाइ अनलाइन भौगोलिक सुचना प्रणालिमा स्वागत छ ।&nbsp;</h1>
                    <p><br>वि. सं. २०७३ फाल्गुन २७ गते&nbsp;गाउँपालिका घोषणा भएको&nbsp; अन्नपूर्ण&nbsp;गाउँपालिकाको क्षेत्रफल ४१७.७४&nbsp;&nbsp;वर्ग कि. मी. रहेको छ भने कुल जनसंख्या २३,५६५ छ ।&nbsp; अन्नपूर्ण गाउँपालिका ढिकुरपोखरी, भदौरेतमागी(१ र २), सल्यान,
                        लुम्ले, दाङसिङ र घान्द्रुक गा वि स मिलि कुल ११ वडामा विभाजित छ ।<br></p>
                        <button class="btn btn-light btn-lg action-button" data-bs-hover-animate="rubberBand" type="button"><a style="text-decoration : none; color : #ffffff;" href="http://127.0.0.1:8000/map/">यहाँ &nbsp; क्लिक गर्नुहोस ।</a></button></div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"><div class="wow bounceInUp">
<div class="monitor-mockup"><img class="device" src={% static '/assets/img/monitor.png' %} /></div>
</div></div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-basic">
        <footer data-aos="fade-up" data-aos-duration="700">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">AnnapurnaRuralMun© 2019 &nbsp;</p>
        </footer>
    </div>
    <script src={% static '/assets/js/jquery.min.js' %}></script>
    <script src={% static '/assets/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static '/assets/js/chart.min.js' %}></script>
    <script src={% static '/assets/js/bs-animation.js' %}></script>
    <script src={% static '/assets/js/bs-charts.js' %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <!-- <script src={% static 'js/map.js' %}></script> -->
</body>

</html>